<!DOCTYPE html>
<html lang = "es">
<head>
    <title>Apps</title>
    <meta charset = "UTF-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
    <meta name = "description" content = "Vista con informacion de las aplicaciones de JCLR" >
    <meta name = "keywords" content = "apps, jclr.studio, android" >
    <meta name = "author" content = "JCLR" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Apps.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src = "/img/LhyonZ.png" alt = "Logo del canal de Tiwtch LhyonZ" >
        <p>LhyonZ</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><img src = "/img/home.svg"><p>Inicio</a></li>
                <li><img src = "/img/command.svg"><p>Comandos</a></li>
                <li><img src = "/img/store.svg"><p>Store</a></li>
                <li><img src = "/img/android.svg"><p>Apps</a></li>
            </ul>
        </nav>
        <section id = contenedor >
            <p>Todas las apps son gratuitas, pruebalas. </p>
            <div class = cards >
                <div class = titulos >
                    <img src = "/img/Segurificador.png" alt = "Logo de Segurificador" />
                    <div>
                        <h1>Segurificador</h1>
                        <h3>Crea contraseñas seguras</h3>
                    </div>
                </div>
                <div class = info >
                    <p>
                        Es una aplicación que te ayuda a crear contraseñas, esta app ofrece varios metodos de 
                        creación como la selección aleatoria de caracteres, reorganización o encriptación de
                        frases que introduzcas, al mismo tiempo que permite elegir si cambiar entre letras por 
                        numeros o simbolos especiales. 
                    </p>
                    <p>
                        No te quedaras sin ideas al componer tus contraseñas. 
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.segurificador" 
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards >
                <div class = titulos>
                    <img src = "/img/Randomificador.png" alt = "Logo de Randomificador" />
                    <div>
                        <h1>Randomificador</h1>
                        <h3>El azar en la palma de tu mano</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        Randomificador es una aplicacion sencilla que te permite obtener resultados al azar, ya 
                        sea un numero random del 0 al 100, un numero dentro de un rango establesido, o realizar 
                        sorteos con las opciones que propone el usuario. 
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.randomizador"    
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/BusinesPoint.png" alt = "Logo de BusinesPoint" />
                    <div>
                        <h1>BusinesPoint</h1>
                        <h3>Control de ventas</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        BusinesPoint es un punto de venta sencillo pensado para personas que recien 
                        inician en el mundo de las ventas, esta app te ayuda a llevar el control de 
                        almacen, seguimiento de cotizaciones, proveedores, clientes y ventas, contiene
                        las herramientas para no perder ningun detalle de tu emprendimiento y poder 
                        irlo viendo crecer poco a poco.
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.businespoint"
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/Chooser.png" alt = "Logo de Chooser" />
                    <div>
                        <h1>Chooser</h1>
                        <h3>Toma de desiciones no tan serias</h3>
                    </div>
                </div>
                <div class = info>
                    <p>Crea situaciones, tus opciones favoritas, recive una opcion recomendada</p>
                    <p>
                        Esta aplicacion te ayudara a tomar desiciones del dia a dia de una manera sencilla.
                        podras guardar tus asuntos como cenas favoritas, o hobbies preferidos y en un momento 
                        de indesicion Chooser podra sugerirte una opcion para tal ocasion. 
                    </p>
                    <p>Ya sabes que cenar hoy? talvez hot dogs, una pizza que tal una sincronizada?</p>
                    <p>O que serie veremos hoy?</p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.elificador"
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/Ahorrificador.png" alt = "Logo de Ahorrificador" />
                    <div>
                        <h1>Ahorrificador</h1>
                        <h3>Lleva el control sobre tus ahorros</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        Sabias que con ahorrar entre el 10 y el 15% de tu salario es suficiente para 
                        llamarte un buen ahorrador, guardar mas de esta cantidad puede resultar en 
                        frustracion y por lo tanto dejar de ahorrar rapidamente. 
                    </p>
                    <p>
                        Ahorrificador es una aplicacion en la que podras estar al tanto de cuanto tienes 
                        ahorrado y si te hace falta motivacion, podras crear en ella proyectos de inversion 
                        en los cuales invertir tus ahorros. 
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.ahorrificador"
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/Cityficador.png" alt = "Logo de Cityficador" style = background-color:#331201 />
                    <div>
                        <h1>Cityficador</h1>
                        <h3>Lleva el control de tus citas desde tu celular</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        Es una aplicacion con la que puedes registrar reuniones con tus contactos, ya 
                        sea que estos sean Clientes, Relaciones Personales, Proveedores (de servicios medicos, 
                        educacion, productos, o hasta fiestas), si alguno de estos te cancela puedes cancelar 
                        la cita, cambiar la fecha o el lugar o hasta eliminarla completamente. 
                    </p>
                    <p>
                        No te pierdas ninguno de tus eventos importantes con las notificaciones que te arroja la 
                        aplicacion, o buscando pendientes ya sea por dia, por contacto o por su estado (pendientes, 
                        citas pasadas) con esta app no olvidaras ninguna fecha importante.
                    </p>
                    <p>
                        Cityficador esta orientada para personas que trabajan por citas como Estilistas, Psicologos, 
                        Dentistas, etc... o personas que deben asistir a recibir servicios medicos, asistir a eventos 
                        o culaquier tipo de compromiso social.
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.ztas"
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/LibretApp.png" alt = "Logo de LibretApp" />
                    <div>
                        <h1>LibretApp</h1>
                        <h3>Lleva el control de cobros desde tu celular</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        LibretApp es una aplicacion pensada en emprendedores que recien inician en el mundo de 
                        las ventas, muchas veces es mejor comensar un negocio realizando ventas a credito, esto 
                        motiva a tus clientes a probar hoy tus servicios y pagar despues.
                    </p>
                    <p>
                        Con esta aplicacion podras registrar a tus clientes, las diferentes ventas que realices
                        con ellos y los abonos sobre ellas, asi sabras la fecha de sus pagos, y cuanto te 
                        quedan debiendo.
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.libretapp"
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/Mandificador.png" alt = "Logo de Mandificador" />
                    <div>
                        <h1>Mandificador</h1>
                        <h3>Listas de mandados para que nunca olvides tus productos</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        Mandificador es una aplicacion en la que podras crear tus listas de mandado, editarlas, 
                        e ir marcando cuales productos ya has encontrado para que una vez que te encuentres 
                        en tus mercados favoritos no olvides ninguno de ellosy tengas que dar otra vuelta o lo 
                        que es peor no poder disfrutar de ese producto olvidado. 
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.mandadoficador"
                        class = buttons>Descargar</a>
                </div>
            </div>

            <div class = cards>
                <div class = titulos>
                    <img src = "/img/Cotisificator.png" alt = "Logo de Cotisificator" />
                    <div>
                        <h1>Cotisificator</h1>
                        <h3>Realiza tus cotizaciones desde cualquier lugar</h3>
                    </div>
                </div>
                <div class = info>
                    <p>
                        Cotisificator es una aplicacion que te permite crear cotizaciones para tus clientes 
                        desde tu dispositivo movil, te permite editarlas, agregar y quitar 
                        conceptos para conocer el total a cobrar por tus trabajos en cualquier momento.
                    </p>
                    <p>
                        Podras consultar cuanto cobraste por trabajos similares en otro momento para orientarte
                        en nuevos proyectos, con el tiempo se iran agregando mas funcionalidades.
                    </p>
                    <a 
                        href="https://play.google.com/store/apps/details?id=com.jclr.cotisificador"
                        class = buttons>Descargar</a>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <p>JCLR Studio</p>
        <img src = "/img/Studio.png" alt = "Logo del estudio de desarrollo JCLR" />
    </footer>
</body>
<script src = '/scripts/botones.js'></script>
</html>