<!DOCTYPE html>
<html lang="es">
<head>
    <title>Comandos</title>
    <meta charset = "UTF-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
    <meta name = "description" content = "Contiene los comandos disponibles en el chat del canal" >
    <meta name = "keywords" content = "LhyonZ, Twitch, Comandos, Chat" >
    <meta name = "author" content = "JCLR" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Comandos.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src = "/img/LhyonZ.png" alt = "Logo del canal de Twitch LhyonZ" >
        <p>LhyonZ</p>
    </header>
    <main>
        <nav>
            <ul>
                <li><img src="/img/home.svg" alt="Icono de home"><p>Inicio</p></li>
                <li><img src="/img/command.svg" alt="Icono de comandos"><p>Comandos</p></li>
                <li><img src="/img/store.svg" alt="Icono de store"><p>Store</p></li>
                <li><img src="/img/android.svg" alt="Icono de apps"><p>Apps</p></li>
            </ul>
        </nav>
        <section id = contenedor >
            <p>
                En el chat del canal puedes introducir ciertos codigos con los que puedes 
                realizar acciones especiales, algunos de estos codigos son:
            </p>
            <p>
                El comando <strong>/color </strong> : <br><br>
                Con el que podras cambiar el color con el que aparece tu nombre en el Chat 
                por ejemplo introduciendo el comando 
                <strong>/color blue</strong>
                tu nombre aparecera de color azul, algunos de los colores disponibles son: <br><br>
                <strong>Coral, DodgerBlue, SpringGreen, Green, OrangeRed, Red, GoldenRod, HotPink, 
                CadetBlue, SeaGreen, Chocolate, BlueViolet, FireBrick y Blue</strong>. 
            </p>
            <p>
                El comando <strong>/me</strong>:<br><br>
                Con el que tu mensaje aparecera del mismo color que con el que esta escrito tu 
                nombre en ese momento, asi por ejemplo si escribes 
                <strong>/me hola, juegas Minecraft</strong>
                el texto hola, juegas Minecraft aparecera del mismo colo con el que parace tu 
                nombre 
            </p>
            <p>
                El comando <strong>/w</strong>:<br><br>
                Con el que podras enviar mensajes privados a algun usuario de twitch, como por 
                ejemplo si escribes 
                <strong>/w lhyonz hola mundo!</strong>
                Le enviaras un mensaje privado con el texto “hola mundo!” al streamer, talvez 
                no conteste en el momento pero estara en su bandeja de entrada. 
            </p>
            <p>
                El comando <strong>!cita</strong>:<br><br>
                Si el streamer ha guardado citas en su chatBot con anterioridad, este comando 
                tomara una de estas citas al azar y la escribira en el chat, si conoces el 
                identificador de alguna de estas citas puedes escribir el comando seguido del 
                identificador que deseas y aparecera dicha cita. 
            </p>
            <p>
                El comando <strong>!sensey</strong>:<br><br>
                Necesitas un consejo, preguntale a nuestro sensey con el comando !sensey, por ejemplo 
                !sensey deberia ver el stream? 
                El te dara una respuesta, esperemos te diviertas con sus respuestas. 
            </p>
        </section>
    </main>
    <footer>
        <p>JCLR Studio</p>
        <img src = "/img/Studio.png" >
    </footer>
</body>
<script src = '/scripts/botones.js'></script>
</html>