<!DOCTYPE html>
<html lang = "es">
<head>
    <title>Inicio</title>
    <meta charset = "UTF-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta name = "description" content = "Vista de inicio del canal LhyonZ" >
    <meta name = "keywords" content = "LhyonZ, JCLR Studio, Android, Twitch" >
    <meta name = "author" content = "JCLR" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/responsive/Inicio.css" >
    <link rel = "stylesheet" type = "text/css" href = "/res/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src = "/res/img/LhyonZ.png" alt = "Logo del canal de Twitch LhyonZ" />
        <p>LhyonZ</p>
    </header>
    <main>
        <nav>
            <ul>
                <li><img src="/res/img/home.svg" alt="icono de home"><p>Inicio</p></li>
                <li><img src="/res/img/command.svg" alt="icono de comandos"><p>Comandos</p></li>
                <li><img src="/res/img/store.svg" alt="icono de store"><p>Store</p></li>
                <li><img src="/res/img/android.svg" alt="icono de apps"><p>Apps</p></li>
            </ul>
        </nav>
        <section id = contenedor>
            <p>
                Bienvenido al Sitio web Oficial del canal de Twitch LhyonZ, 
                este es un Canal donde se realizan Streams por las Tardes 
                normalmente de una hora con Gameplays de juegos como Genshin 
                Impact, PUBG, Pokemon UNITE, Ark: Survival Evolved, Minecraft, 
                Toram Online, Heart Stone, Life After, entre otros, todos 
                juegos recomendados y disponibles en la Play Store de Android. 
            </p>
            <p>
                En este sitio podrás conocer un poco mas del Canal como Redes 
                Sociales, los comandos y la tienda disponibles en el Chat, 
                información de las aplicaciones que se comparten durante los 
                Streams, en fin las herramientas con las que cuentas para 
                entretenerte un rato. 
            </p>
        </section>
    </main>
    <footer>
        <p>JCLR Studio</p>
        <img src = "/res/img/Studio.png" alt = "Logo del estudio de desarrollo JCLR Studio" />
    </footer>
</body>
<script src = "/res/scripts/botones.js"></script>
</html>