<!DOCTYPE html>
<html lang="es">
<head>
    <title>Store</title>
    <meta charset = "UTF-8" >
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
    <meta name = "description" content = "Vista con los comandos de store de LhyonZ" >
    <meta name = "keywords" content = "Store, Comandos, Twitch, LhyonZ" >
    <meta name = "author" content = "JCLR" >
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/normalize.css'/>
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/setUp.css'/>
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/colores.css'/>
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/fuentes.css'/>
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/responsive/Header.css'/>
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/responsive/Store.css'/>
    <link rel = 'stylesheet' type = 'text/css' href = '/styles/responsive/Footer.css'/> 
</head>
<body>
    <header>
        <img src = "/img/LhyonZ.png" alt = "Logo del canal de Twitch LhyonZ" >
        <p>LhyonZ</p>
    </header>
    <main>
        <nav>
            <ul>
                <li><img src="/img/home.svg"><p>Inicio</p></li>
                <li><img src="/img/command.svg"><p>Comandos</p></li>
                <li><img src="/img/store.svg"><p>Store</p></li>
                <li><img src="/img/android.svg"><p>Apps</p></li>
            </ul>
        </nav>
        <section id = contenedor>
            <p>
                En store puedes adquirir Items para partisipar en el Stream o con la comunidad que esperemos
                tener algun dia, estos Items se consiguen con Bitz, los cuales iras adquiriendo de manera automatica
                durante los Streams. 
            </p>
            <p>
                Las compras se realizan a travez del chat del canal con el comando <Strong>!Comprar</Strong>, y 
                los productos disponibles son:
            </p>
            <p>
                <strong>jugar</strong>, con este Item puedes partisipar en una partida durante el Stream (Si el juego
                lo permite, por ejemplo creando Squads en PUBG), como se utiliza? en la ventana de Chat introduce 
                <strong>!comprar jugar 123456789</strong>, donde el numero puede ser tu Id dentro del juego o tu Nick.
                Este tiene un costo de 190 Bitz. 
            </p>
            <p>
                <strong>juego</strong>, con este Item, se cambiara el juego por el de tu eleccion, siempre y cuando este 
                considerado entre los juegos disponibles; para adquirirlo, en la ventana de chat introduce 
                <strong>!comprar juego 0123456789</strong>, donde el numero iria el nombre del juego que te gustaria espectar;
                este tiene un costo de 75 Bitz.
            </p>
            <p>
                <strong>palabra</strong>, con este Item, puedes escoger una palabra, cualquiera, y durante el stream nadie podra 
                utilizarla, para adquirirlo introduce en el chat <strong>!comprar palabra 0123456789</strong>, donde el numero seria 
                la palabra de tu eleccion; Este tiene un costo de 100 Bitz.
            </p>
            <p>
                <strong>saludo</strong>, si te gustaria que tu canal fuera nombrado en nuestras redes sociales, introduce en el Chat del 
                danal <strong>!comprar saludo 12345678</strong>, donde el numero podria ser el nombre de tu canal; este tiene un costo de 
                2,400 Bitz.
            </p>
            <p>
                <strong>noTexto</strong>, una vez activado este Item durante el proximo minuto nadie podra introducir palabras en el chat, 
                la comunicacion sera mediante emotes, se adquiere introduciendo <strong>!comprar noTexto</strong> en la ventana de chat del 
                canal y tiene un costo de 30 Bitz. 
            </p>
            <p>
                <strong>!duracion</strong>, te gustaria saber cuanto tiempo lleva el Stream en vivo?, introduce el comando <strong>!duracion</strong>
                en la ventana del chat, este codigo tiene un costo de 10 Bitz. 
            </p>
            <p>
                <strong>!billetera</strong>, has estado espectando el directo durante algun tiempo y crees que has acumulado puntos pero no sabes cuantos?
                puedes saber con el codigo <strong>!billetera</strong>, este tiene un precio de 10 Bitz. 
            </p>
            <p>
                <strong>!desde</strong>, si te gustaria saber desde hace cuanto tiempo nos estas siguiendo, introduce el codigo <strong>!desde</strong>,
                este tiene un costo de 10 Bitz
            </p>
            <p>
                <strong>!horas</strong>, Te gustaria saber cuantas horas llevas acumuladas viendo los directos del canal, introduce el codigo 
                <strong>!horas</strong>, este tiene un costo de 10 Bitz. 
            </p>
        </section>
    </main>
    <footer>
        <h1 class = button>English</h1>
        <p>JCLR Studio</p>
        <img src = "/img/Studio.png" alt = "Logo del estudio de desarrollo JCLR" >
    </footer>
</body>
<script src = '/scripts/botones.js'></script>
<script src = '/scripts/lan.js'></script>
</html>