<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ahorrificador</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ahorrificador es una herramienta gratuita desarrollada 
        para dispositivos moviles con sistema operativo Android con la que podras llevar el 
        control de tus ahorros, con ella podras registrar cuanto has ahorrado, crear proyectos
        y destinar tus ahorros a esos proyectos."/>
    <meta name="keywords" content="ser ahorrador, proyectos de ahorro, como ahorrar" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App Ahorrificador</h1>
        <p>Sabias que con ahorrar entre el 10 y el 15% de tu salario es suficiente para 
            llamarte un buen ahorrador, guardar mas de esta cantidad puede resultar en 
            frustracion y por lo tanto dejar de ahorrar rapidamente.</p>
        <p>Ahorrificador es una aplicacion en la que podras estar al tanto de cuanto tienes 
            ahorrado y si te hace falta motivacion, podras crear en ella proyectos de inversion 
            en los cuales invertir tus ahorros.</p>
        <div id="container" >
            <img src="/img/Ahorrificador.png" alt="logo app ahorrificador" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.ahorrificador"
        class="buttons">Descargar</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>