<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Libretapp</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LibretApp es una herramienta gratuita desarrollada
        para dispositivos moviles con sistema operativo Android con la cual podras llevar 
        el control de cobros de tu emprendimiento, con ella podras registrar a tus clientes,
        sus cuentas por pagar e ir registrando sus pagos." />
    <meta name="keywords" content="control de pagos, control de cobros, cuentas por cobrar" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App LibretApp</h1>
        <p>LibretApp es una aplicacion pensada en emprendedores que recien inician en el mundo de 
            las ventas, muchas veces es mejor comensar un negocio realizando ventas a credito, esto 
            motiva a tus clientes a probar hoy tus servicios y pagar despues.</p>
    
        <p>Con esta aplicacion podras registrar a tus clientes, las diferentes ventas que realices
            con ellos y los abonos sobre ellas, asi sabras la fecha de sus pagos, y cuanto te 
            quedan debiendo.</p>
        <div id="container" >
            <img src="/img/LibretApp.png" alt="logo app libretapp" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.libretapp"
        class="buttons">Descargar</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>