<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-1FNB8ZBC06"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());        gtag('config', 'G-1FNB8ZBC06');
    </script><!-- Google tag (gtag.js) -->
    <meta charset="UTF-8">
    <title>LifeProject</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LifeProject es una herramienta gratuita para 
        dispositivos moviles con sistema operativo Android con la que podras hacer 
        estimaciones de costo de vida para proyectos de cambio de domicilio o viajes." />
    <meta name="keywords" content="calculo costo de vida, estimacion costo de vida, 
        presupuesto costo de vida" />
        <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App LifeProject</h1>
        <p>Crea proyectos de vida, agrega los costos que consideras en ellos compara precios, obten 
            un salario aproximado necesario para darte ese estilo de vida en tu lugar de preferencia, 
            ya solo te faltara buscar un empleo de tu gusto con ese salario.</p>
    
        <p>Crea tu presupuestos para el mes, el semestre o anual o crea proyectos de vacaciones, 
            viajes, periodos de estudios en otras localidades.</p>
        <div id="container" >
            <img src="/img/LifeProject.png" alt="logo app lifeproject" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.lifeprojects"
        class="buttons">Descargar</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>