<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDKTCBSR2R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());     gtag('config', 'G-QDKTCBSR2R');
    </script><!-- Google tag (gtag.js) -->
    <meta charset="UTF-8">
    <title>Randomificador</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Randomificador es una herramienta gratuita desarrollada 
        para dispositivos moviles con sistema operativo Android, la cual pone al alcance de tu 
        mano el poder del azar." />
    <meta name="keywords" content="azar, sorteos" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App Randomificador</h1>
        <p>Randomificador es una aplicacion sencilla que te permite obtener resultados al azar, ya 
            sea un numero random del 0 al 100, un numero dentro de un rango establesido, o realizar 
            sorteos con las opciones que propone el usuario.</p>
        <div id="container" >
            <img src="/img/Randomificador.png" alt="logo app randomificador" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.randomizador"
        class="buttons">Descargar</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>