<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3JB4MR5F5Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());     gtag('config', 'G-3JB4MR5F5Z');
    </script><!-- Google tag (gtag.js) -->
    <meta charset="UTF-8">
    <title>Chooser</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Segurificador es una herramienta gratuita desarrollada
        para dispositivos moviles con sistema operativo Android, la cual ofrece diferentes 
        metodos de creacion de contraseñas, desde caracteres al azar, hasta manipulacion y 
        encriptacion de textos personalizados."/>
    <meta name="keywords" content="creador de contraseña, consejos para contraseñas, 
        creacion de contraseñas" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <div id = 'config' class = 'buttons' data-url = '../en/segurificador.html'><p>English</p></div>
    <main>
        <h1>Android App Segurificador</h1>
        <p>Es una aplicación que te ayuda a crear contraseñas, esta app ofrece varios 
            metodos de creación como la selección aleatoria de caracteres, reorganización 
            o encriptación de frases que introduzcas, al mismo tiempo que permite elegir si 
            cambiar entre letras por numeros o simbolos especiales.</p>
    
        <p>No te quedaras sin ideas al componer tus contraseñas.</p>
        <div id="container" >
            <img src="/img/Segurificador.png" alt="logo app segurificador" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.segurificador"
        class="buttons">Descargar</a>
    </main>
    <footer><p>By JCLR</p></footer>
    <script src = '../../../scripts/boton.js' ></script>
</body>
</html>