<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cityficador</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Citificador is a free tool developed for mobile 
        devices with the Android operating system that allows you to keep track of your 
        meetings. With it, you can register your contacts, your appointments with them, 
        and receive notifications, in addition to having your meeting history at your 
        fingertips." />
    <meta name="keywords" content="appointment control, meeting control, schedule" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App Citificador</h1>
        <p>In this app you can register your personal or profesional contacts (family, 
            friends, medical, study, work, clients, providers, organizations, etc…), and 
            save the info of your meetings with them, this way you can find in your 
            smarthphone past and pending meetings (or events) and all the data needed to 
            asist, like (the place, hour and personal notes like the reason or things you 
            need to carry), also you can update the info of the appointments or register 
            the cancellations.</p>
        <div id="container" >
            <img src="/img/Cityficador.png" alt="logo app cityficador" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.ztas"
        class="buttons">Download</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>