<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Libretapp</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LibretApp is a free tool developed for mobile 
        devices with the Android operating system that allows you to keep track of 
        payments for your business. With it, you can register your clients, their 
        accounts payable, and keep track of their payments." />
    <meta name="keywords" content="payment control, collections control, accounts receivable" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App LibretApp</h1>        
        <p>LibretApp is an application designed for entrepreneurs who are just starting 
            out in the world of sales. Often, it is better to start a business by making 
            sales on credit; this encourages your customers to try your services today 
            and pay later.</p>
    
        <p>With this application you will be able to register your clients, the different 
            sales you make with them, and the payments made on those sales, so you will 
            know the date of their payments and how much they still owe you.</p>
        <div id="container" >
            <img src="/img/LibretApp.png" alt="logo app libretapp" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.libretapp"
        class="buttons">Download</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>