<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>LifeProject</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="LifeProject is a free tool for mobile devices 
        with the Android operating system that allows you to make cost of living 
        estimates for relocation projects or travel." />
    <meta name="keywords" content="calculate cost of living, cost of living estimate, 
        cost of living budget" />
        <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
        <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App LifeProject</h1>    
        <p>With this application, you will be able to create life projects such as a trip, 
            your foray into a new hobby, the study of a course or school grade, or moving 
            to a different city.</p>
    
        <p>In the application, you will be able to record the expenses you consider for 
            each project such as transportation, services, rent, or food, create different 
            scenarios like the case in which you spend less or waste money, and finally 
            calculate how much income you need to carry out those projects.</p>
        <div id="container" >
            <img src="/img/LifeProject.png" alt="logo app lifeproject" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.lifeprojects"
        class="buttons">Download</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>