<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randomificador</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="description" content="Randomifier is a free tool developed for mobile 
        devices with the Android operating system, which puts the power of chance at 
        your fingertips." />
    <meta name="keywords" content="chance, raffles" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App Randomificador</h1>
        <p>Esta es una aplicación fácil que puede ayudarte a obtener resultados aleatorios, 
            por ejemplo, puedes seleccionar un rango de números y esta aplicación seleccionará 
            uno de esos números, o puedes definir un número de opciones como pizza, perritos 
            calientes u otra comida y la aplicación elegirá esta cena por ti.</p>
        <div id="container" >
            <img src="/img/Randomificador.png" alt="logo app randomificador" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.randomizador"
        class="buttons">Download</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>