<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Chooser</title>
    <meta name="author" content="JCLR" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Segurificador is a free tool developed for mobile 
        devices with the Android operating system, which offers different methods for 
        creating passwords, from random characters to manipulation and encryption of 
        custom texts."/>
    <meta name="keywords" content="password creator, tips for passwords, 
        password creation" />
    <link rel = "stylesheet" type = "text/css" href = "/styles/normalize.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/setUp.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/colores.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/fuentes.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Header.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/promo.css" >
    <link rel = "stylesheet" type = "text/css" href = "/styles/responsive/Footer.css" >
</head>
<body>
    <header>
        <img src="/img/Studio.png" alt="Logo de estudio" />
        <h1>JCLR</h1>
    </header>
    <main>
        <h1>Android App Segurificador</h1>        
        <p>This app offer you various methods to create passwords like the aleatory selection 
            of characters, reorganization of sentences, and text encryption, also this app 
            permits you to swap characters for special characters, numbers or capital letters 
            to increase the security of your passwords.</p>
    
        <p>You won’t run out of ideas with this app.</p>
        <div id="container" >
            <img src="/img/Segurificador.png" alt="logo app segurificador" />
        </div>
        <a href="https://play.google.com/store/apps/details?id=com.jclr.segurificador"
        class="buttons">Download</a>
    </main>
    <footer><p>By JCLR</p></footer>
</body>
</html>